# Node.js
node_modules/

# macOS and Linux files
.DS_Store

# Build artifacts
build/
dist/

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock

# Temporary files
*.swp
*.swo
